section.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;

  h1.dashboard-title {
    font-size: 2em;
    font-weight: 600;
  }
}